.container {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #000;
  width: 800px;
  height: 800px;
  
  
  padding: 0;
  margin: 0;
  list-style: none;
  
}

.item1{
  top: 0;
  background: rgb(183, 209, 194);
  flex: 1 0 100px;
  height: 50px;
  flex-grow:1;
}

.item2 {
  top: 0;
  background: #ec8686;
  flex: 11 0 calc(100% - 100px);
  height: 50px;

}